{{include_file name='home/public/header' title='用户管理'}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='home/public/nav' sidebar='admin/public/sidebar' active='user'}}
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户管理</h1>
                <div class="search">
                    <div class="well">

                        <form class="form-inline" action="{{url()}}" method="get">
                            <div class="form-group">
                                <label>用户昵称/邮箱</label>
                                <input name="keywords" type="text" class="form-control" placeholder="支持模糊查询" value="{{$model.params.keywords}}">
                            </div>

                            <div class="form-group">
                                <label>用户状态</label>
                                <select class="form-control" name="status">
                                    <option value="0">不限</option>
                                    <option value="{{$model::ACTIVE_STATUS}}" {{if $model.params.status == $model::ACTIVE_STATUS}}selected{{/if}}>正常</option>
                                    <option value="{{$model::DISABLE_STATUS}}" {{if $model.params.status == $model::DISABLE_STATUS}}selected{{/if}}>冻结</option>
                                </select>
                            </div>

                            <button type="reset" class="btn btn-warning mr-1">重置</button>
                            <button type="submit" class="btn btn-primary">搜索</button>
                        </form>

                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>登录昵称/账号</th>
                                    <th>创建项目</th>
                                    <th>参与项目</th>
                                    <th>注册地点</th>
                                    <th>启用状态</th>
                                    <th class="datetime">注册时间</th>

                                    <th width="150px">操作面板</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{foreach $model->models as $model}}
                                <tr>
                                    <td>{{$model->fullName}}</td>
                                    <td><a href="{{url('admin/project/index', ['creater_id' => $model->id])}}" data-toggle="tooltip" title="" data-original-title="点击查看创建项目">{{$model->getMyCreatedProjects()->count()}}</a></td>
                                    <td><a href="{{url('admin/project/index', ['joiner_id' => $model->id])}}" data-toggle="tooltip" title="" data-original-title="点击查看参与项目">{{$model->getMyJoinedProjects()->count()}}</a></td>
                                    <td>{{$model->location}}</td>
                                    <td>
                                        {{if $model->status == $model::ACTIVE_STATUS}}
                                        <i class="fa fa-check"></i>
                                        {{else}}
                                        <i class="fa fa-times"></i>
                                        {{/if}}
                                    </td>

                                    <td>{{$model->created_at}}</td>
                                    <td>
                                        {{if $model->status == $model::ACTIVE_STATUS}}
                                        <a type="button" class="btn btn-danger btn-xs js_statusBtn mr-1" data-url="{{url('admin/user/update', ['status' => $model::DISABLE_STATUS, 'id' => $model->id])}}" data-option="冻结">冻结用户</a>
                                        {{else}}
                                        <a type="button" class="btn btn-success btn-xs js_statusBtn mr-1" data-url="{{url('admin/user/update', ['status' => $model::ACTIVE_STATUS, 'id' => $model->id])}}" data-option="恢复">恢复用户</a>
                                        {{/if}}
                                        <a type="button" class="btn btn-warning btn-xs" data-modal="#js_iframeModal" data-title="编辑用户" data-height="290" data-src="{{url('admin/user/update', [
                                        'id' => $model->id])}}">编辑用户</a>
                                    </td>
                                </tr>
                                {{/foreach}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-sm-12">
                {{$model->pages}}
            </div>

            <!-- /.col-lg-6 -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- 弹出模态框 -->
    <div class="modal fade" id="js_iframeModal" tabindex="1" role="dialog">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">编辑用户</h4>
                </div>
                <div class="modal-body">

                    <iframe scrolling="no" src=""></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary js_submit">确认</button>
                </div>

            </div>

        </div>

    </div>

    <hr>
    <p class="text-center">{{config('copyright')}}  已运行<span class="pass-time"></span></p>

    <script>
        $(function () {
            $(".js_statusBtn").click(function () {
                var thisObj = $(this);
                confirm('您确定要'+thisObj.data('option')+'该用户吗？',function () {
                    var url = thisObj.data('url');
                    var csrf = "{{csrf_token()}}";

                    thisObj.attr("disabled", "disabled");

                    $.post(url,{ 'csrf-phprap':csrf }, function (json) {

                        if(json.status = 'success'){

                            alert(json.message, 'success', function () {
                                window.location.reload();
                            });

                        }else{

                            thisObj.removeAttr("disabled");
                            alert(json.message, 'error');

                        }
                    });
                });
            });
        });
    </script>

    {{include_file name='admin/public/footer'}}
