{{include_file name='home/public/header' title='项目环境'}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='home/public/nav' sidebar='home/project/sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>项目环境 </h1>
                    <div class="opt-btn">
                        {{if $project->hasRule('env', 'create')}}
                        <a href="javascript:void(0);" class="btn hidden-xs btn-sm btn-success js_addEnvBtn" data-modal="#js_addEnvModal" data-height="210" data-title='添加环境' data-src="{{url('home/env/create', ['project_id' => $project->encode_id])}}"><i class="fa fa-fw fa-plus"></i>添加</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default">

                    {{include_file name='home/project/tab' tab='env'}}

                    <div class="panel-body">
                        <div class="table-responsive ">
                            <table class="table">

                                <thead>
                                <tr>
                                    <th>环境名称</th>
                                    <th>环境根路径</th>
                                    <th>创建人昵称/账号</th>
                                    <th class="datetime">创建时间</th>
                                    {{if $project->hasRule('env', 'update') || $project->hasRule('env', 'delete')}}
                                    <th class="hidden-xs" width="130px">操作面板</th>
                                    {{/if}}
                                </tr>
                                </thead>
                                <tbody>
                                {{foreach $project->envs as $env}}
                                <tr>
                                    <td>{{$env->title}}({{$env->name}})</td>
                                    <td><code>{{$env->base_url}}</code></td>
                                    <td>{{$env->creater->fullName}}</td>
                                    <td>{{$env->created_at}}</td>
                                    <td class="hidden-xs">

                                        {{if $project->hasRule('env', 'update')}}
                                        <a class="btn btn-success btn-xs js_addEnvBtn" data-title="编辑环境" data-modal="#js_addEnvModal" data-height="210" data-src="{{url('home/env/update', ['id' => $env->encode_id])}}"><i class="fa fa-fw fa-edit"></i>编辑</a>
                                        {{/if}}

                                        {{if $project->hasRule('env', 'delete')}}
                                        <a class="btn btn-danger btn-xs js_deleteEnvBtn" data-url="{{url('home/env/delete', ['id' => $env->encode_id])}}"><i class="fa fa-fw fa-trash"></i>删除</a>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/foreach}}

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<hr>
<p class="text-center">{{config('copyright')}}</p>

<div class="modal fade" id="js_addEnvModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加环境</h4>
            </div>
            <div class="modal-body">

                <iframe id="js_addEnvIframe" scrolling="no" src=""></iframe>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary js_submit">确认</button>
            </div>

        </div>

    </div><!-- /.modal-dialog -->
</div>

<script>
    $(function(){

        // 删除环境
        $(".js_deleteEnvBtn").click(function () {
            var thisObj = $(this);
            confirm('您确定要删除该环境吗？',function () {
                var url = thisObj.data('url');
                var csrf = "{{csrf_token()}}";

                thisObj.attr("disabled", "disabled");

                $.post(url,{ 'csrf-phprap':csrf }, function (json) {

                    if(json.status = 'success'){

                        alert(json.message, 'success', function () {
                            window.location.reload();
                        });

                    }else{

                        thisObj.removeAttr("disabled");
                        alert(json.message, 'error');

                    }
                });
            });
        });

    });
</script>

{{include_file name='home/public/footer' has_copyright='true'}}