{{include_file name='home/public/debug'}}
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Bootstrap Core JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
<script src="https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.js"></script>

<script src="{{STATIC_URL}}/plugins/artDialog/js/dialog.js"></script>

<script src="{{STATIC_URL}}/plugins/validform/datatype.js?v={{Yii::$app->params['static_version']}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{STATIC_URL}}/js/app.js?v={{Yii::$app->params['static_version']}}"></script>

</body>

</html>