{{include_file name='home/public/header' title='项目主页'}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='home/public/nav' sidebar='home/project/sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>项目主页 </h1>
                    <div class="opt-btn">

                        {{if $project->hasRule('project', 'update')}}
                        <a href="javascript:void(0);" class="btn hidden-xs btn-sm btn-success js_addProjectBtn mr-2" data-toggle="tooltip" data-placement="bottom" data-modal="#js_addProjectModal" data-title="编辑项目" data-height="250" data-src="{{url('home/project/update', ['id' => $project->encode_id])}}"><i class="fa fa-fw fa-edit"></i>编辑</a>
                        {{/if}}

                        <a href="javascript:void(0);" class="btn hidden-xs btn-sm btn-info mr-2 js_copyUrl" data-clipboard-text="{{$project->getUrl(true)}}"  data-toggle="tooltip" data-title="复制项目地址" data-placement="bottom"><i class="fa fa-fw fa-copy"></i>复制</a>

                        {{if $project->hasRule('version', 'export')}}
                        <a href="javascript:void(0);" class="btn hidden-xs btn-sm btn-warning" data-toggle="tooltip" data-title="导出当前版本" data-placement="bottom"><i class="fa fa-fw fa-download"></i>导出</a>
                        {{/if}}

                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default">

                    {{include_file name='home/project/tab' tab='home'}}

                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-12">

                                <!-- /.panel -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i> 项目信息

                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <p class="text-muted"><label>项目名称：</label>{{$project->title}}</p>
                                                <p class="text-muted"><label>项目创建人：</label>{{$project->creater->fullName}}</p>
                                                <p class="text-muted"><label>项目类型：</label>{{$project->typeLabel}}</p>
                                                <p class="text-muted"><label>创建时间：</label>{{$project->created_at}}</p>
                                                <p class="text-muted"><label>更新时间：</label>{{$project->updated_at}}</p>
                                                <p class="text-muted"><label>项目描述：</label><span style="word-break:break-all">{{$project->remark}}</span></p>
                                            </div>
                                            <!-- /.col-lg-4 (nested) -->
                                            <div class="col-lg-5">
                                                <div id="project-statistics" style="height:290px;margin: -50px -30px -35px 0"></div>
                                            </div>
                                            <!-- /.col-lg-8 (nested) -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-12">

                                <!-- /.panel -->
                                <div class="panel panel-default mb-0">
                                    <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i> 版本信息

                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                {{$parent_name = $project->currentVersion->parent->name}}
                                                <p class="text-muted"><label>当前版本：</label>
                                                    {{$project->currentVersion->name}}

                                                    {{if $project->currentVersion->parent->id == 0}}
                                                    (<code>初始版本</code>)
                                                    {{/if}}
                                                </p>
                                                <p class="text-muted"><label>基于版本：</label>
                                                    {{$parent_name}}
                                                </p>
                                                <p class="text-muted"><label>版本创建人：</label>{{$project->currentVersion->creater->fullName}}</p>
                                                <p class="text-muted"><label>创建时间：</label>{{$project->currentVersion->created_at}}</p>
                                                <p class="text-muted"><label>更新时间：</label>{{$project->currentVersion->updated_at}}</p>

                                                <p class="text-muted"><label>更新摘要：</label><span style="word-break:break-all">{{$project->currentVersion->remark}}</span></p>
                                            </div>
                                            <!-- /.col-lg-4 (nested) -->
                                            <div class="col-lg-5">
                                                <div id="version-statistics" style="height:290px;margin: -50px -30px -35px 0"></div>
                                            </div>
                                            <!-- /.col-lg-8 (nested) -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.panel-body -->
                                </div>
                                <!-- /.panel -->

                            </div>
                        </div>

                    </div>

                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<hr>
<p class="text-center">{{config('copyright')}}</p>

<!-- 编辑项目模态框 -->
<div class="modal fade" id="js_addProjectModal" tabindex="-9" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑项目</h4>
            </div>
            <div class="modal-body">

                <iframe id="js_addProjectIframe" scrolling="no" src=""></iframe>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary js_submit">确认</button>
            </div>

        </div>

    </div>

</div>

<script src="https://cdn.bootcss.com/clipboard.js/1.6.1/clipboard.min.js"></script>

<script>

    // 复制链接
    var clipboard = new Clipboard('.js_copyUrl');
    clipboard.on('success', function(e) {
        alert('地址复制成功', 'success');
        e.clearSelection();
    });
    clipboard.on('error', function() {
        alert('地址复制失败，请手动复制', 'error');
    });

</script>

{{include_file name='home/public/footer'}}