{{include_file name='home/public/header' title='项目转让'}}
<style>
    body {
        background-color: #ffffff;
    }
</style>
</head>

<body>

<div class="container">

    <!-- /.row -->
    <div class="row">
        <form id="js_transferProjectForm" role="form" action="{{url('')}}" method="post">

            <div class="alert alert-dismissable alert-warning">
                <i class="fa fa-fw fa-info-circle"></i>
                只能转让给项目成员，转让后与该项目不再有任何关系，如果要加入需要重新申请，请谨慎操作!
            </div>

            <div class="form-group">
                <label class="control-label">转让项目:</label>
                <input type="text" class="form-control" value="{{$model->title}}" readonly>
            </div>

            <div class="form-group">
                <label class="control-label">转让给:</label>

                <select class="form-control" name="user_id" data-live-search="true">
                    {{foreach $model->members as $member}}
                    <option value="{{$user_id}}">{{$member->user->name}}({{$member->user->email}})</option>
                    {{foreachelse}}
                    <option value="0">暂无成员</option>
                    {{/foreach}}
                </select>

            </div>

            <div class="form-group">
                <label class="control-label">登录密码:</label>
                <input type="text" class="form-control js_password" name="password" value="" placeholder="重要操作，请输入登录密码" datatype="*" nullmsg="请输入登录密码!">
            </div>

            <input type="hidden" id="js_submit" value="提交">

        </form>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#wrapper -->

<script>

    $(function () {
        // 转让项目表单验证
        $("#js_transferProjectForm").Validform({

            tiptype:function(msg,o){

                if(!o.obj.is("form")){

                    if(3 == o.type){
                        alert(msg, 'error');
                    }

                }
            },

            label:"label",

            btnSubmit: '#js_submit',

            tipSweep:true,

            ajaxPost:true,

            callback:function(json){

                if(200 == json.code){
                    alert(json.msg, 'success', function () {
                        parent.location.reload();
                    });
                }else{
                    $(".js_password").focus();
                    alert(json.msg, 'error');
                }

            }
        });
    });

</script>

{{include_file name='home/public/footer'}}
