{{include_file name='home/public/header' title="登录历史" }}
<link href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.zh-CN.min.js"></script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='home/public/nav' sidebar='home/account/sidebar' active='history'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">登录历史</h1>

                <div class="search">
                    <div class="well">
                        <form class="form-inline" action="{{url()}}" method="get">

                            <div class="form-group">
                                <label>登录IP</label>
                                <input name="ip" type="text" class="form-control" placeholder="支持模糊查询" value="{{$model.params.ip}}">
                            </div>

                            <div class="form-group">
                                <label>登录地点</label>
                                <input name="location" type="text" class="form-control" placeholder="支持模糊查询" value="{{$model.params.location}}">
                            </div>

                            <button type="button" class="btn btn-warning js_resetForm mr-1">重置</button>

                            <button type="submit" class="btn btn-primary">搜索</button>

                            <!--<button type="submit" class="btn btn-success">导出</button>-->

                        </form>

                    </div>
                </div>
            </div>


            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive" style="overflow:scroll;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>登录账号</th>
                                    <th>登录昵称</th>
                                    <th>登录时间</th>
                                    <th>登录IP</th>
                                    <th>登录地点</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{foreach $model->models as $model}}

                                <tr>
                                    <td>{{$model->user_email}}</td>
                                    <td>{{$model->user_name}}</td>
                                    <td>{{$model->created_at}}</td>
                                    <td>{{$model->ip}}</td>
                                    <td>{{$model->location}}</td>

                                </tr>
                                {{/foreach}}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-sm-12">
                {{$pages}}
            </div>

            <!-- /.col-lg-6 -->
        </div>
        <!-- /#page-wrapper -->


    </div>
    <!-- /#wrapper -->

    <hr>
    <p class="text-center">{{config('copyright')}}</p>

    <script>
        $(function(){

            $('.date-picker').datepicker({
                minView: "day", //  选择时间时，最小可以选择到那层；默认是‘hour’也可用0表示
                language: 'zh-CN', // 语言
                autoclose: true, //  true:选择时间后窗口自动关闭
                format: 'yyyy-mm-dd', // 文本框时间格式，设置为0,最后时间格式为2017-03-23 17:00:00
                todayBtn: false, // 如果此值为true 或 "linked"，则在日期时间选择器组件的底部显示一个 "Today" 按钮用以选择当前日期。
                // 窗口可选时间从今天开始
                endDate: new Date()
            });

        });
    </script>

    {{include_file name='home/public/footer'}}