{{include_file name='home/public/header' title='项目动态'}}

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    {{include_file name='home/public/nav' sidebar='home/project/sidebar'}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>项目动态 </h1>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default">

                    {{include_file name='home/project/tab' tab='log'}}

                    <div class="panel-body">

                        <div class="table-responsive">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>操作人昵称/账号</th>
                                    <th>操作版本</th>
                                    <th>操作类型</th>
                                    <th>操作对象</th>
                                    <th>操作内容</th>
                                    <th class="datetime">操作时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{foreach $model->models as $history}}
                                <tr>
                                    <td>{{$history->user_name}}({{$history->user_email}})</td>
                                    <td>{{$history->version_name}}</td>
                                    <td>{{$history->methodLabel}}</td>
                                    <td>{{$history->objectLabel}}</td>
                                    <td>
                                        <a tabindex="0" class="btn btn-xs btn-info" role="button" data-toggle="popover" data-trigger="focus" title="操作内容" data-placement="top" data-content="详细内容">查看详情</a>
                                        <!--<a href="javascript:;" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">点击查看详情</a>-->
                                    </td>
                                    <td>{{$history->created_at}}</td>
                                </tr>
                                {{/foreach}}

                                </tbody>
                            </table>

                            {{$model->pages}}
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<hr>
<p class="text-center">{{config('copyright')}}</p>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
{{include_file name='home/public/footer'}}